.container-min-max-width {
    min-width: 320px;
    max-width: 1100px;
}

.text-title {
    color: #3a3a3a;
}

.text-subtitle {
    color: #262626;
}

.article-background {
    background-color: #e7e7e7;
}